bin/
obj/
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.testsettings
*.VisualState.xml
TestResults/
*.Publish.xml
*.pubxml
*.nupkg
*.nupkg.sha512
*.nuspec
*.ps1
*.json.dotnetUserSettings
artifacts/
